Математические операции

In [108]:
25+17

42

In [2]:
25-17

8

In [3]:
17/5

3.4

In [10]:
17//5

3

In [6]:
2**4

16

In [5]:
17%5

2

In [7]:
int(19.4)

19

In [8]:
float(15.6)

15.6

In [11]:
#Переменные и простые функции

In [109]:
a = 25

In [110]:
a

25

In [12]:
a = 25 """Что тут вообще написано?"""
b = 27
a*b

675

In [13]:
int('24')

24

In [14]:
text = 'Keep calm'

In [15]:
text

'Keep calm'

In [16]:
print(text)

Keep calm

In [116]:
input()

ghdksgfp

'ghdksgfp'

In [117]:
word = 'Hi568ehflgh'

In [111]:
print(word)

Hi

In [112]:
type(word)

str

In [115]:
len(word)

11

In [3]:
word+word

'HiHi'

In [4]:
print(word+word)

HiHi

In [90]:
Name = input()
Weight = int(input())
Hight = int(input())
IMT = Weight/(Hight/100)**2
print(IMT)

KATE
60
162
22.86236854138088

## Строки - объекты состоящие из одного и более символа

In [85]:
fruit = 'apple'
vegetable = 'onion'
all_basket = 'apple lemon onion plum'
basket = '///apple, lemon, onion, plum///'

In [7]:
fruit+vegetable

'appleonion'

In [8]:
len(fruit)

5

In [9]:
fruit[0]

'a'

In [10]:
fruit * 3

'appleappleapple'

In [11]:
fruit[0:3]

'app'

In [118]:
all_basket

'apple lemon onion plum'

In [119]:
all_basket[8]

'm'

Методы строк Split, Strip и Join

In [120]:
all_basket.split(' ')

['apple', 'lemon', 'onion', 'plum']

In [121]:
all_basket

'apple lemon onion plum'

In [15]:
fruit.split('p')

['a', '', 'le']

Метод split() может принимать необязательный аргумент-строку, 
указывающей по какому символу или подстроке следует выполнить разделение.
Метод split() позволяет разбить строку по пробелам. 
В результате получается список слов. Если пользователь вводит в одной строке ряд слов или чисел, каждое из которых должно в программе обрабатываться отдельно, то без split() не обойтись.

In [29]:
'-'.join(all_basket)

'a-p-p-l-e- -l-e-m-o-n- -o-n-i-o-n- -p-l-u-m'

In [30]:
','.join(all_basket)

'a,p,p,l,e, ,l,e,m,o,n, ,o,n,i,o,n, ,p,l,u,m'

In [33]:
'  '.join(all_basket)

'a  p  p  l  e     l  e  m  o  n     o  n  i  o  n     p  l  u  m'

Метод строк join() формирует из списка строку.
Поскольку это метод строки, то впереди ставится строка-разделитель, а в скобках — передается список

In [34]:
new_basket = all_basket.split(' ')

In [35]:
new_basket

['apple', 'lemon', 'onion', 'plum']

In [40]:
''.join(new_basket)

'applelemononionplum'

In [41]:
'_'.join(new_basket)

'apple_lemon_onion_plum'

In [74]:
all_basket.strip('app')

'le lemon onion plum'

In [83]:
basket

'///apple, lemon, onion, plum///'

In [84]:
basket.strip('///')

'apple, lemon, onion, plum'

Другие методы

In [122]:
all_basket

'apple lemon onion plum'

In [123]:
all_basket.find('onion')

12

find() ищет подстроку в строке и возвращает индекс первого элемента найденной подстроки. 
Если подстрока не найдена, то возвращает -1.

In [124]:
all_basket.replace('onion', 'garlic')

'apple lemon garlic plum'

In [125]:
all_basket

'apple lemon onion plum'

Метод replace() заменяет одну подстроку на другую, но исходная строка не меняется, чтобы ее поменять нужна новая переменая

In [126]:
all_basket.upper()

'APPLE LEMON ONION PLUM'

In [127]:
all_basket.lower()

'apple lemon onion plum'

In [128]:
big = 'HJGJF'

In [129]:
big.lower()

'hjgjf'

In [47]:
print("This is a {0}. It's {1}.".format("ball", "red"))

This is a ball. It's red.

In [132]:
print(all_basket)

apple lemon onion plum

In [130]:
print('Корзина полная фруктов: {}'.format(all_basket))

Корзина полная фруктов: apple lemon onion plum

In [54]:
print('Корзина полная фруктов: {}'.format(all_basket.split(' ')))

Корзина полная фруктов: ['apple', 'lemon', 'onion', 'plum']

In [137]:
test666 = 786

In [138]:
print('Ваш результат теста: {}'.format(test666))

Ваш результат теста: 786

Метод format позволяет просто красиво выводить данные)

## Список (list) представляет тип данных, который хранит набор или последовательность элементов.

Для создания списка в квадратных скобках ([]) через запятую перечисляются все его элементы.

Во многих языках программирования есть аналогичная структура данных, которая называется массив.

In [150]:
numbers = [1, 5, 37, 34, 33]
list_of_lessons = ['math', 'english', 'biology', 'geography']

In [151]:
numbers[0]

1

In [153]:
list_of_lessons[0]

'math'

In [164]:
VSE = ['Managment', ['Math', ['Hight', 'Prob.Teo'], 'Consulting'], 'Econom', ['Word', 'Micro', 'Macro']]

In [180]:
print('Предмет: {} и минор: {}'.format(VSE[2], VSE[3][1]))

Предмет: Econom и минор: Micro

In [170]:
VSE[1][1][1]

'Prob.Teo'

In [167]:
VSE[1][0]

'Math'

In [181]:
list_of_lessons

['math', 'english', 'biology', 'geography']

In [182]:
list_of_lessons[1:3]

['english', 'biology']

In [183]:
numbers

[1, 5, 37, 34, 33]

In [184]:
print(numbers)

[1, 5, 37, 34, 33]

In [185]:
numbers.append(3)

In [186]:
numbers

[1, 5, 37, 34, 33, 3]

numbers.sort()

In [189]:
numbers

[1, 5, 37, 34, 33, 3]

In [191]:
list_of_lessons.sort()
list_of_lessons

['biology', 'english', 'geography', 'math']

In [192]:
len(numbers)

6

In [194]:
list_of_lessons.insert(0, 'russian')

In [195]:
list_of_lessons

['russian', 'biology', 'english', 'geography', 'math']

In [198]:
numbers.count(3) #возвращает количество элементов с нужным значением

1

In [199]:
list_of_lessons.count('math')

1

In [200]:
list_of_lessons.reverse()

In [201]:
list_of_lessons

['math', 'geography', 'english', 'biology', 'russian']

ЗАДАЧА СО ТИПАМИ ДАННЫХ И ЧИСЛАМИ

In [237]:
flight = [350, 250] #tickets for 1st and 2nd person
one_day = [50, 50] #day waste for 1st and 2nd person
lenght = [4, 5, 7] #how many days in each country 
host = 25 #euro per night for one person
visa = 60 #euro

In [238]:
first_treveler = (sum(lenght))*one_day[0] + (sum(lenght))*host + visa + flight[0]

In [239]:
second_treveler  = (sum(lenght))*one_day[1] + (sum(lenght))*host + visa + flight[1]

In [240]:
trevelers = first_treveler+second_treveler

In [245]:
trevelers_rub = trevelers*70
print('Стоимость поездки в рубляхпервого путешественника: {}'.format(first_treveler*70))
print('Стоимость поездки в рублях второго путешественника: {}'.format(second_treveler*70))
print('Стоимость поездки в рублях: {}'.format(trevelers_rub))

Стоимость поездки в рубляхпервого путешественника: 112700
Стоимость поездки в рублях второго путешественника: 105700
Стоимость поездки в рублях: 218400

In [248]:
if trevelers_rub >= 200000:
    print('Итог расчетов: Too much')
elif trevelers_rub < 200000:
    print ('Итог расчетов: It\'s OK')

Итог расчетов: Too much

Полезные ссылки про строки


https://metanit.com/python/tutorial/5.2.php

https://younglinux.info/python/string.php

https://ps.readthedocs.io/ru/latest/strings.html

https://pythontutor.ru/lessons/str/

https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html

Полезные ссылки про списки

https://metanit.com/python/tutorial/3.1.php

https://pythontutor.ru/lessons/lists/

https://pythonworld.ru/tipy-dannyx-v-python/spiski-list-funkcii-i-metody-spiskov.html